body {
  font-family: Arial, sans-serif;
  margin:0;
  background:#f7f7f6;
  color:#111827;
}

header {
  padding: 15px 20px;
  display:flex;
  justify-content:flex-end;
  background:#fff;
  border-bottom:1px solid #ddd;
}

header a { text-decoration:none; color:#111827; font-weight:bold; }

.hero {
  text-align:center;
  padding:50px 20px;
  background:#fefefe;
}

.hero h1 { font-size:36px; margin-bottom:10px; }
.hero p { font-size:18px; color:#98975c; }

.grid {
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
  padding:20px;
}

.product-card {
  background:#fff;
  padding:15px;
  border-radius:10px;
  box-shadow:0 3px 8px rgba(0,0,0,0.1);
  text-align:center;
  width:200px;
}

.product-card img { width:100%; height:200px; object-fit:contain; }

.product-card button {
  margin-top:10px;
  padding:8px 12px;
  border:none;
  border-radius:5px;
  background:#111827;
  color:#fff;
  cursor:pointer;
}

.product-card button:hover { background:#333; }

#cart-items div {
  display:flex;
  align-items:center;
  gap:10px;
  padding:10px;
  border-bottom:1px solid #ddd;
}

#cart-items img { border-radius:5px; }

input.qty-input {
  width:50px;
  padding:5px;
}

#cart {
  padding:20px;
  background:#fff;
  max-width:600px;
  margin:20px auto;
  border-radius:10px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}
#cart button { margin-top:10px; padding:8px 12px; border:none; border-radius:5px; cursor:pointer; }
